* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(63, 63, 224);
}

main {
    background-color: white;
    box-shadow: 3px 3px 5px black;
    padding: 10px;
    width: 500px;
}